@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    color: #1C1C1C;
    background-color: #1C1C1C;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

#svelte {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}